# Navratri

# Game Overview
The word Navaratri literally means nine nights in Sanskrit, nava meaning nine and ratri meaning nights. 
Navratri is a ten-day festival in which nine forms of Goddess Durga are worshipped over nine nights. 
It is one of the most significant festivals celebrated by Hindus all across India with great fervor. 

In Navratri, Players are participating in the Navratri Festival by collecting sets of Prasad 
( A material substance of vegetarian food that is a religious offering), to make offerings to 
the nine forms of Goddess Durga worshipped during the Navratri festival.

# Components
 10 - Goddess Cards. 
  1 Maan Durga card 
  9 Forms of goddess durga cards, numbered 1 through 9. 
  The numbers represent which night of the festival each specific goddess is worshiped.
  
   Night 1 = Goddess Shailputri 
   Night 2 = Goddess Brahmacharini
   Night 3 = Goddess Chandraghanta
   Night 4 = Goddess Kushmanda
   Night 5 = Goddess Skandamata
   Night 6 = Goddess Katyayani
   Night 7 = Goddess Kaalratri
   Night 8 = Goddess Mahagauri
   Night 9 = Goddess Siddhidatri
   
  5 players decks of 45 Prasad cards. 
   Each Player deck consists of nine different sets of Prasad cards, 
   one set of Prasads for each of the nine nights.
   
   Night 1 = Ghee - Butter
   Night 2 = Cheenee - Sugar
   Night 3 = Kheer - pudding
   Night 4 = Maalapua - Pancakes
   Night 5 = Kela - Banana
   Night 6 = Shahad - Honey
   Night 7 = Gud - Jaggery
   Night 8 = Naariyal - Coconut
   Night 9 = Til Ke Beej - Sesame Seeds
   
   Each set of Prasad set contains 5 cards with numbered point values. 
   3 - one point cards
   1 - two point card
   1 - three point card
 
# Setup
Players each start with a 45 card deck of Prasads with the same color card backs. 
The colored card backs have now gameplay value other than to help sort the individual player desks.

Layout the ten Goddess cards (One Maan Durga, and the 9 forms of goddess durga cards) in the middle of the play space.
Best to place the Goddess cards in day order, left to right (1-9).

# How to play
 Play is continuous and simultaneous.
Each player starts by drawing five (5) cards from their 45 card deck into their hand.
1. Players each select one (1) card from their hand to keep and add to their collection of Prasads.
2. Player then declares "Pass" to alert the other players they are finished selecting a phasad card and 
   and ready to "pass" their hand of four (4) cards to the player to their left.
3. Once all players declare "Pass", Players then pass their hand to the player to their left.
4. Each player then draws one (1) from their deck into their hand, to make their hand size five (5).

Repeat steps 1-3 until one or more players announce they can make an offering to all nine forms of goddess durga, 
1 set of prasads for each of the nine nights. This signals the end of the game.

# Completed Offerings
 One completed offering is a set of three (3) or more of the same Prasads for a specific night of Navratri.
The first player to make an offering for any specific day, but saying "I make an offering to goddess xxxxx" 
claims the Goddess card for that night and scores a bonus three (3) points, printed on the card. 
Once a player claims the Goddess card for any specific night, that player may no longer collect prasads for that night. 
Other players may continue to collect prasad's for that night to complete their offerings.
(So beware, making an offering too soon will limit your ability to score points for that night, 
while others can continue to add to their offerings to score points for that night.) A bit of push your luck here.

# End of game
 Once one or more players announced they can make offerings to all nine forms of goddess durga, 1 set of prasads for each of 
 the nine nights. Play stops, no more passing of cards, although players may still select and place their last card on the round 
 the game ends. 
 
 Scoring begins.
 
The first player to announce they have completed all nine sets of Prasads are awarded the Maan Durga Goddess card and six (6) bonus 
points printed on the Maan Durga card.
Players only score points for nights they can make an offering for and any bonus cards claimed during game play.
Add up the point values of all collected Prasads cards for all completed offerings, and any bonus point cards. 
The player with the most points is the winner.
1. Player with the most points and Maan Durga Goddess card
2. Player with the most points and the most Goddess cards. (with or without including Mann Dugra)
3. Player with the most points, and the most completed offerings.
4. Game ends in a tie =)

# fin
